<div class="container">
    <ion-row style="margin-bottom: 3%;">
        <ion-col size-lg="12" size-md="12" size-xl="12" size-xs="12">
            <h1 class="title">Servicios</h1>
        </ion-col>       
    </ion-row>

    <ion-row>
        <ion-col size-lg="6" size-md="12" size-xl="6" size-xs="12">
            <ion-card>               
                <ion-card-header>
                  <ion-card-title>Consultoría en Ciencia de Datos</ion-card-title>                 
                </ion-card-header>              
                <ion-card-content>
                    Ofrecer asesoramiento y consultoría en la estrategia de datos, selección de herramientas, desarrollo de modelos de aprendizaje.
                </ion-card-content>
              </ion-card>
        </ion-col>
        <ion-col size-lg="6" size-md="12" size-xl="6" size-xs="12">
            <ion-card>               
                <ion-card-header>
                  <ion-card-title>Desarrollo de Modelos de Aprendizaje Automático</ion-card-title>                
                </ion-card-header>              
                <ion-card-content>
                    Ayudar a las empresas a desarrollar modelos de aprendizaje automático personalizados para resolver problemas específicos.
                </ion-card-content>
              </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size-lg="6" size-md="12" size-xl="6" size-xs="12">
            <ion-card>               
                <ion-card-header>
                  <ion-card-title>Gestión de Datos</ion-card-title>                 
                </ion-card-header>              
                <ion-card-content>
                    Ayudar a las organizaciones a gestionar sus datos, desde la recopilación y almacenamiento hasta la limpieza y la integración.
                </ion-card-content>
              </ion-card>
        </ion-col>
        <ion-col size-lg="6" size-md="12" size-xl="6" size-xs="12">
            <ion-card>               
                <ion-card-header>
                  <ion-card-title>Análisis Predictivo</ion-card-title>                
                </ion-card-header>              
                <ion-card-content>
                    Realizar análisis predictivos para ayudar a las empresas a tomar decisiones informadas y anticiparse a las tendencias del mercado.
                </ion-card-content>
              </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size-lg="6" size-md="12" size-xl="6" size-xs="12">
            <ion-card>               
                <ion-card-header>
                  <ion-card-title>Servicios de Seguridad de Datos</ion-card-title>                 
                </ion-card-header>              
                <ion-card-content>
                    Proteger los datos sensibles de las empresas mediante la implementación de medidas de seguridad adecuadas.
                </ion-card-content>
              </ion-card>
        </ion-col>
        <ion-col size-lg="6" size-md="12" size-xl="6" size-xs="12">
            <ion-card>               
                <ion-card-header>
                  <ion-card-title>Auditoría de Datos</ion-card-title>                
                </ion-card-header>              
                <ion-card-content>
                    Realizar auditorías de datos para garantizar la calidad y la seguridad de los datos de las empresas.
                </ion-card-content>
              </ion-card>
        </ion-col>
    </ion-row>



    <ion-row style="margin-bottom: 3%;">
        <ion-col size-lg="12" size-md="12" size-xl="12" size-xs="12">
            <h1 class="title">Productos</h1>
        </ion-col>       
    </ion-row>

    <div style="margin-bottom: 3%; ">
        <ion-accordion-group>
            <ion-accordion value="first">
                <ion-item slot="header" color="dark">
                <ion-label>Plataformas de Análisis de Datos</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">Desarrollar y vender plataformas personalizadas de análisis de datos que ayuden a las empresas a visualizar y comprender sus datos de manera efectiva.</div>
            </ion-accordion>
            <ion-accordion value="second">
                <ion-item slot="header" color="dark">
                <ion-label> Herramientas de Minería de Datos</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">Crear software de minería de datos que permita a las empresas descubrir patrones y tendencias en grandes conjuntos de datos.</div>
            </ion-accordion>
            <ion-accordion value="third">
                <ion-item slot="header" color="dark">
                <ion-label>Sistemas de Gestión de Bases de Datos (DBMS)</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">Ofrecer soluciones de gestión de bases de datos para ayudar a las empresas a almacenar, recuperar y gestionar eficientemente sus datos.</div>
            </ion-accordion>
            <ion-accordion value="four">
                <ion-item slot="header" color="dark">
                    <ion-label>Modelos de Aprendizaje Automático Pre-entrenados</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">Desarrollar modelos de IA pre-entrenados que puedan ser personalizados para las necesidades específicas de los clientes.</div>
                </ion-accordion>
                <ion-accordion value="five">
                <ion-item slot="header" color="dark">
                    <ion-label>Herramientas de Automatización de Procesos Robóticos (RPA)</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">Proporcionar software y soluciones RPA para automatizar tareas repetitivas y mejorar la eficiencia operativa.</div>
            </ion-accordion>
        </ion-accordion-group>
    </div>
    


</div>