.container{
    width: 80%;
    margin: 0px auto;   
    margin-top: 2%;
}

.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-weight: bolder;
    color: #77fde8;
    font-size: 23px;  
    display: flex;
    justify-content: center;   
    text-align: center; 
}

.subtitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;  
    display: flex;
    justify-content: center;   
    text-align: center; 
}

ion-accordion{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 14px; 
}

ion-card-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 14px;
}

div{
    padding-left: 20px;
    background-color: #0a0c1167;
}

ion-card{
    background-color: #0A0C11;  
    border-bottom: 1px solid #77fde8;
    margin-bottom: 2%;
    box-shadow: 5px 2px 5px 0px #77fde8;
    -webkit-box-shadow: 2px 2px 2px 0px #77fde8;
}

@media screen and (max-width: 992px)  {
    .container{
        width: 90%; 
        margin: auto;       
    }
 
}