

.colTwo{
    display: flex;
    justify-content: center;  
    line-height: 10px;
}

.colOne{
    display: flex;
    justify-content: flex-start;   
}


.li-nav{
    margin-right: 15px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: White;
    font-weight: bold;
    cursor: pointer;
    margin-top: -15px;
}

.title-company{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
    color: #77fde8;
    font-size: 25px;
    margin-left: 3%; 
    line-height: 2px;
}

.banner{
    background-color: #23282D;
    height: 40px;
}

.bannerTwo{
    background-color: #121212;
    height: 55px;
}

img{
    width: 15px;
    height: 15px;
    margin-top: 3%;
    position: absolute;
}


.img-a{
    width: 15px;
    height: 15px;
    margin-top: 3%;
    position: absolute;
    background: url('../../assets/img/icon-location.png') no-repeat;   
    background-size: cover;
    background-position: center;  
}



.img-b{
    width: 15px;
    height: 15px;
    margin-top: 3%;
    position: absolute;
    background: url('../../assets/img/icon-envelope.png') no-repeat;   
    background-size: cover;
    background-position: center;  
}



.img-c{
    width: 15px;
    height: 15px;
    margin-top: 3%;
    position: absolute;
    background: url('../../assets/img/icon-phone.png') no-repeat;   
    background-size: cover;
    background-position: center;  
}

.img-d{
    width: 15px;
    height: 15px;
    margin-top: 3%;
    position: absolute;
    background: url('../../assets/img/icon-clock.png') no-repeat;   
    background-size: cover;
    background-position: center;  
}


.label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
    margin-left: 7%;
    line-height: 41px;
}

.background{
    background-color: black;
    width: 100%;
    height: 42px;
    position: absolute;
}

.img-menu{   
    width: 48px;
    height: 46px;
    margin-top: -1%;
    background: url('../../assets/img/hamburguesa.png') no-repeat;   
    background-size: cover;
    background-position: center;  
    position: absolute; 
}

.mobile{
    height: 100%;
    width: 100%; 
    background-color: black !important;
}

ion-content{
    background-color: black;
}

@media screen and (max-width: 992px)  {
    .container-header{
        height: 50px;
    }
}