<div class="container">
    <ion-row style="margin-bottom: 3%;">
        <ion-col size-lg="" size-md="12" size-xl="12" size-xs="12">
            <h1 class="title">Misión</h1>
        </ion-col>
        <ion-col size-lg="12" size-md="12" size-xl="12" size-xs="12">
            <h1 class="subtitle">Ser líderes en el mundo de la Data Science, ofreciendo soluciones innovadoras y personalizadas que empoderen a las empresas para tomar decisiones basadas en datos y transformar sus operaciones y estrategias.</h1>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size-lg="6" size-md="12" size-xl="6" size-xs="12">
         <h1 class="title">Visión Estratégica de Tecnbilateral</h1>         
         <h2 class="subtitle-two">Ser líder global en soluciones tecnológicas avanzadas que transformen los datos en valor tangible. En Tecnbilateral, estamos comprometidos con la innovación continua y la excelencia en la ciencia de datos, las bases de datos y la inteligencia artificial. Nuestra visión es forjar un mundo donde la toma de decisiones se base en datos sólidos y donde las empresas y organizaciones utilicen la tecnología para alcanzar sus objetivos de manera más eficiente y efectiva. A través de la colaboración con nuestros clientes y socios, buscamos impulsar la evolución tecnológica, capacitar a las organizaciones y mejorar la calidad de vida a nivel global.

         </h2>
        </ion-col>
        <ion-col size-lg="6" size-md="12" size-xl="6" size-xs="12">
            <div class="img-relleno-a"></div>
        </ion-col>
    </ion-row>
    <ion-row>        
        <ion-col size-lg="6" size-md="12" size-xl="6" size-xs="12">
           <h1 class="title"> Esta visión estratégica establece los siguientes elementos clave:</h1>          

           <h2 class="subtitle-two">
            <ul>
                <li>Liderazgo Global.</li>
                <li>Transformación de Datos en Valor.</li>
                <li>Innovación Continua.</li>
                <li>Excelencia en Ciencia de Datos, Bases de Datos e IA.</li>
                <li>Colaboración.</li>
                <li>Impacto Global.</li>
            </ul>
           </h2>
        </ion-col>
        <ion-col size-lg="6" size-md="12" size-xl="6" size-xs="12">
            <div class="img-relleno-b"></div>
            <img class="img-relleno" src="" alt="card-img">
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size-lg="12" size-md="12" size-xl="12" size-xs="12">
            <h1 class="title">Visión</h1>
        </ion-col>

        <ion-col size-lg="12" size-md="12" size-xl="12" size-xs="12">
            <h1 class="subtitle">Transformar el mundo empresarial a través del poder de los datos, brindando a nuestros clientes las herramientas y el conocimiento necesario para enfrentar los desafíos del futuro con confianza y eficacia.</h1>
        </ion-col>
    </ion-row>


    <ion-row style="margin-bottom: 3%;">
        <ion-col size-lg="12" size-md="12" size-xl="12" size-xs="12">
            <h1 class="title">Valores de Tecnobilateral</h1>
        </ion-col>

        <ion-row class="container-card-text">
            <ion-col *ngFor="let valor of valores"  size-lg="3" size-md="12" size-xl="3" size-xs="12">
                <div class="content-card">
                <img class="img-card" src="{{valor.img}}" alt="card-img">               
                <h1 class="card-title">{{valor.title}}</h1>
                <ion-row>
                    <h5 class="text-card"> {{valor.text}}</h5>
                </ion-row>
                </div>    
            </ion-col>
            </ion-row>

    </ion-row>

</div>
