<div class="footer">
    <ion-row *ngIf="isDesktop" class="img-col" style="margin-left: 1%;">     
            <ion-col class="img-col"  size-lg="1" size-md="1" size-xl="1" size-xs="1">
                <div class="img_redes-one"></div>              
            </ion-col>  
            <ion-col class="img-col"  size-lg="1" size-md="1" size-xl="1" size-xs="1">
                <div class="img_redes-two"></div>                
            </ion-col>  
            <ion-col class="img-col" size-lg="1" size-md="1" size-xl="1" size-xs="1">
                <div (click)="openWA()" class="img_redes-three"></div>                 
            </ion-col>      
    </ion-row> 
    <ion-row *ngIf="isMobile" class="bannerTwo">
        <ion-col class="img-col"  size-lg="1" size-md="1" size-xl="1" size-xs="1">
            <div class="img_redes-one"></div> 
        </ion-col>  
        <ion-col class="img-col"  size-lg="1" size-md="1" size-xl="1" size-xs="1">
            <div class="img_redes-two"></div>    
        </ion-col>  
        <ion-col class="img-col" size-lg="1" size-md="1" size-xl="1" size-xs="1">
            <div (click)="openWA()" class="img_redes-three"></div>    
        </ion-col>   
        <ion-col size-lg="3" size-md="12" size-xl="3" size-xs="12">
          <div class="img-banner-a"> </div>
          <label class="label">Buenos Aires, Argentina</label>
        </ion-col>
        <ion-col size-lg="3" size-md="12" size-xl="3" size-xs="12">
            <div class="img-banner-b"> </div>
          <label class="label">tecnobilateral@gmail.com</label>
        </ion-col>
        <ion-col size-lg="3" size-md="12" size-xl="3" size-xs="12">
            <div class="img-banner-c"> </div>
          <label class="label">+54 9 11 4078-8374</label>
        </ion-col>
        <ion-col size-lg="3" size-md="12" size-xl="3" size-xs="12">
            <div class="img-banner-d"> </div>
          <label class="label">9hs - 18hs</label>
        </ion-col>
        <div style="border-top: 1px solid white;width: 100%; margin-top: 3%;"></div>
        <ion-col class="col-center" size-lg="12" size-md="12" size-xl="12" size-xs="12">
            © 2023 Tecnobilateral. Todos los derechos reservados.
        </ion-col>         
    </ion-row>
    <ion-row *ngIf="isDesktop" >
        <ion-col class="col-center" size-lg="12" size-md="12" size-xl="12" size-xs="12">
            © 2023 Tecnobilateral. Todos los derechos reservados.
        </ion-col>      
    </ion-row>
</div>
