<div class="footer">
    <ion-row class="content-location">
        <ion-col size-lg="12" size-md="12" size-xl="12" size-xs="12">
            <img src="../../assets/img/localizacion.png" alt="icon_localidad"> 
            <label>Cuidad Autónoma de Buenos Aires, Argentina</label>
        </ion-col>        
    </ion-row>
    <ion-row style="margin-left: 1%;">     
            <ion-col class="img-col"  size-lg="1" size-md="12" size-xl="1" size-xs="12">
                <img class="img_redes" src="../../assets/img/instagram.png" alt="icon_instagram"> 
            </ion-col>  
            <ion-col class="img-col"  size-lg="1" size-md="12" size-xl="1" size-xs="12">
                <img  class="img_redes" src="../../assets/img/facebook.png" alt="icon_instagram"> 
            </ion-col>  
            <ion-col class="img-col" size-lg="1" size-md="12" size-xl="1" size-xs="12">
                <img class="img_redes"src="../../assets/img/whatsapp.png" alt="icon_instagram"> 
            </ion-col>      
    </ion-row>
    
    <!-- <ion-row>
        <ion-col size-lg="12" size-md="12" size-xl="12" size-xs="12">
            © 2023 Tu Compañía. Todos los derechos reservados.
        </ion-col>
    </ion-row> -->

</div>
