<div *ngIf="isDesktop" class="container-header container-img">  
  <ion-row>
    <ion-col class="colThree" size="12">
      <h1 class="lema">"Transformando Datos en Decisiones, Innovando Tu Futuro"</h1>
    </ion-col>
   </ion-row> 
  </div> 
<ion-row class="container-home">
  
  <ion-row class="content-label margin">
      <ion-col class="products" size-lg="12" size-md="12" size-xl="12" size-xs="12">
        Nuestros servicios para clientes
      </ion-col>
      <ion-col class="products-text" size-lg="12" size-md="12" size-xl="12" size-xs="12">
        Podemos apoyarlo sin importar dónde se encuentre
      </ion-col>
  </ion-row>

<ion-row style="margin-top: 10%;">
  <ion-col class="margin-left" size-lg="4" size-md="12" size-xl="4" size-xs="12">
    <ion-card  class="card">
        <div class="one"></div>
        <ion-card-header>
          <ion-card-title>Base de Datos</ion-card-title>             
        </ion-card-header>      
        <ion-card-content>
          En Tecnobilateral, creamos bases de datos personalizadas para satisfacer las necesidades específicas de tu negocio. Diseñamos esquemas de bases de datos eficientes y seguros.
        </ion-card-content>
      </ion-card>
</ion-col>
<ion-col class="margin-left" size-lg="4" size-md="12" size-xl="4" size-xs="12">
    <ion-card  class="card">
      <div class="two"></div>
        <ion-card-header>
          <ion-card-title>Análisis de Datos</ion-card-title>            
        </ion-card-header>      
        <ion-card-content>
          Comenzamos por explorar y limpiar tus datos para garantizar su calidad y confiabilidad. Identificamos datos faltantes, atípicos o incorrectos, y los corregimos para que puedas basar tus decisiones en información precisa.
        </ion-card-content>
      </ion-card>
</ion-col>
<ion-col class="margin-left" size-lg="4" size-md="12" size-xl="4" size-xs="12">
    <ion-card  class="card">
      <div class="three"></div>
        <ion-card-header>
          <ion-card-title>Machine Learning</ion-card-title>             
        </ion-card-header>      
        <ion-card-content>
          Utilizamos técnicas de machine learning para desarrollar modelos predictivos que te ayuden a anticipar tendencias, identificar oportunidades y tomar decisiones más informadas.
        </ion-card-content>
      </ion-card>
</ion-col>
</ion-row>

    <div class="spaceTwo">
      <ion-row  class="content-label">
        <ion-col size-lg="12" size-md="12" size-xl="12" size-xs="12">
          <h1 class="title-text">Beneficios de la ciencia de datos</h1>
          <div class="border"></div>
        </ion-col>
        <ion-col size-lg="12" size-md="12" size-xl="12" size-xs="12">
          <h1 class="title-border"> Descubra por qué la ciencia de datos ofrece un valor tan increíble.</h1>
        </ion-col>     
      </ion-row>
    </div>

    <ion-row style="margin-top: 10% ;">
      <ion-col class="description-one" size-lg="6" size-md="12" size-xl="6" size-xs="12">
       <div class="img-01"></div>
      </ion-col>
      <ion-col class="description-one" size-lg="6" size-md="12" size-xl="6" size-xs="12">
        <ion-row class="ciencia">         
            La ciencia de datos ayuda a su organización a optimizar sus procesos, toma de decisiones y estrategia. Es un concepto de alto nivel que sigue principios científicos básicos para responder preguntas a partir de datos.
            Al elegir Tecnobilateral para su proyecto de aprendizaje automático, puede estar seguro de que está aprovechando una consultoríacon amplia experiencia, que ayuda a empresas como la suya a descubrir valor a partir de sus datos.                
            <button (click)="show()" class="more">Descubrí más beneficios...</button>  
        </ion-row>     
      
      </ion-col>
    </ion-row>   
</ion-row>

<ng-container *ngIf="showCards">
  <ion-row class="container-card-text">
    <ion-col  size-lg="4" size-md="12" size-xl="4" size-xs="12">
      <div class="content-card">
        <div class="img-card-f"></div>
        <h1 class="card-title">Automatizar decisiones</h1>
        <ion-row>
         <h5 class="text-card">Todas las empresas tienen que tomar decisiones. De hecho, las empresas son máquinas de información. Aquellos que pueden consumir, comprender y actuar sobre la mejor información de manera óptima tienen una ventaja inherente sobre sus competidores.</h5>
        </ion-row>
      </div>         
    </ion-col>
    <ion-col  size-lg="4" size-md="12" size-xl="4" size-xs="12">       
      <div class="content-card">
        <div class="img-card-g"></div>
        <h1 class="card-title">Simplifique los procesos</h1>
        <ion-row>
         <h5 class="text-card">Los procesos van de la mano con los negocios. Por un lado, son necesarios procesos para estandarizar las prácticas. Pero rápidamente los procesos comienzan a consumir la agilidad de una empresa y se gastan sumas significativas en contratar personas para poner en práctica estos procesos.</h5>
        </ion-row>
      </div>              
    </ion-col>
    <ion-col  size-lg="4" size-md="12" size-xl="4" size-xs="12">      
      <div class="content-card">
        <div class="img-card-h"></div>
        <h1 class="card-title">Diferenciadores competitivos</h1>
        <ion-row>
         <h5 class="text-card">Las empresas verdaderamente innovadoras son capaces de crear productos basados ​​en datos que proporcionan una ventaja competitiva tan increíble que toda competencia queda obsoleta.</h5>
        </ion-row>
      </div>          
    </ion-col>
  </ion-row>
</ng-container>

<div class="img-ba">
 
</div>



